<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/style.css"> <!--css 링크, 이름 변경必-->
    <title>BP</title>
</head>
<body>
    <nav class="MainMenu">
        <ul>
            <li><a href="MainHomePage"><img class="Logo" src="/img/logo.png"></a></li>
            <li><a href="#" class="MenuText">Notice</a></li>
            <li><a href="ranking" class="MenuText">Ranking</a></li>
            <li><a href="challenge" class="MenuText">Challenge</a></li>
            <li><a href="login" class="MenuText">Sign in</a></li>
            <li><a href="register" class="MenuText">Sign up</a></li>
        </ul>
    </nav>
    <div class="_wrapper">Here is challenge page.</div>
    <a href="challenge/q1">cookie</a>
<footer class="Foot">
    2023.03.06~<br>
    20171500 이호연<br>
    20171548 신현령<br>
    <a class="Discord">Discord ch : ~~~</a>
</footer>
</body>
</html>