<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/Cookie.js" defer></script>
    <title>Cookie Challenge</title>
</head>
<body>
    기본적인 쿠키 문제입니다.
    쿠키 값 편집 확장 프로그램 등을 이용해주세요.
</body>
</html>