<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web04 ASCII</title>
</head>
<body>
    A$Cl1 ⓒ0de
    <script>
    document.addEventListener("keydown", checkKeyPressed, false);
    var solve = "";
    var passCount = 0;

    function checkKeyPressed(e) 
    {
	    if (e.keyCode === 65 && solve ==="A") 
        {
            solve += "S";
	    }
        else if (e.keyCode === 83 && solve ==="")
        {
            solve +="A";
        }
        else if (e.keyCode === 79 && solve ==="AS")
        {
            solve +="C";
        }
        else if (e.keyCode === 89 && solve ==="ASC" || solve ==="ASCI")
        {
            solve +="I";
        }
        else
        {
            solve ="";
        }


        if (solve ==="ASCII")
        {
            alert("잘했어");
            flag();
        }
    }
    </script>
</body>
</html>