<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/style.css">
    <script src="/js/home/base64.js" defer></script>
    <title>Challenge20 Base64</title>
</head>
<body>
    <form class="Challeng02">
        DECODE
        <h2>- Password</h2> <h2 id="output"> </h2>
        <script>EncodeSolve(Solve);</script>
        <input id ="Solve2"type="text">
        <button type="button" onclick="checkAnswer()">전송</button>
    </form>
</body>
</html>